page-livre {
    .auteur {
        font-size: 80%;
        color:#AAAAAA;
    }
    .icon_pret {
        color: #0e71c4;
    }
    .icon_rendre {
        color: #1cc40e;
    }
    .icon-list-livre {
        margin-right:15px;
        position:relative;
        top:2px;
    }
}
